<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\Moodler.dll" stdoutLogEnabled="false"
                        stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
        </system.webServer>
    </location>
    <system.net>
        <defaultProxy>
            <proxy proxyaddress="http://winproxy.server.lan:3128"
                   bypassonlocal="true" />
        </defaultProxy>
    </system.net>
</configuration>
<!--ProjectGuid: 7759DDC8-1A4F-4716-9625-64BE2CEFEB1B-->